			<!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="row flex">
						<div class="column width-6">
							<div class="widget">
								<h4 class="widget-title weight-light">About Jared</h4>
								<p><strong>Are you stuck in your business?</strong> Then I'm the guy for you!<br>As a Marine Corps Veteran, I have a an interesting outlook on the world. As a business owner, I've experienced many ups and downs, and yet I still thrive vibrantly.<p>
							</div>
						</div>
						<div class="column width-6">
							<div class="widget">
								<h4 class="widget-title">Get Notified</h4>
								<p>Are you interested in learning about business tips and developer skills? Just sign up and we'll send you our posts as they are created.</p>
								<div class="signup-form-container">
									<form class="signup-form" action="php/subscribe.php" method="post" novalidate>
										<div class="row">
											<div class="column width-12">
												<div class="field-wrapper">
                                                    <div class="_form_3"></div><script src="https://carbondigital.activehosted.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script>
												</div>
											</div>
										</div>
										<input type="text" name="honeypot" class="form-honeypot form-element">
									</form>
									<div class="form-response show"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row">
						<div class="column width-12">
							<div class="footer-bottom-inner center">
								<p class="copyright pull-left">Copyright &copy; 2012-2020 &middot; Jared Ledbetter &middot; All Rights Reserved</p>
<!--
								<ul class="social-list list-horizontal pull-right clear-float-on-mobile">
									<li><a href="#"><span class="icon-twitter small"></span></a></li>
									<li><a href="#"><span class="icon-facebook small"></span></a></li>
									<li><a href="#"><span class="icon-youtube small"></span></a></li>
									<li><a href="#"><span class="icon-vimeo small"></span></a></li>
									<li><a href="#"><span class="icon-instagram small"></span></a></li>
								</ul>
-->
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->