	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Jared Ledbetter | Marine. Author. CEO. Developer." />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="images/iPhone%20Pics-%2020131020%20103.JPG"/>
	<meta property="og:description" content="Personal website for Jared Ledbetter | Marine. Author. CEO. Developer." />
	<title>Jared Ledbetter | Marine. Author. CEO. Developer.</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/iPhone%20Pics-%2020131020%20103.JPG">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
	
	<!-- Css -->
	<link rel="stylesheet" href="css/core.min.css"/>
    <link rel="stylesheet" href="css/skin.css" />
	<link rel="stylesheet" href="css/skin-resume.css"/>
    <link rel="stylesheet" href="css/style.css"/>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->